.container {
  max-width: 1310px;
  width: 100%;
  padding: 0 30px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .container {
    max-width: 962px;
  }
}
@media (max-width: 991px) {
  .container {
    max-width: 750px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 100%;
    padding: 0 30px;
  }
}
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
  max-width: 100%;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  font-family: "Roboto";
}

input:focus,
textarea:focus {
  outline: 0;
}

a,
button {
  font-weight: 400;
}

a {
  text-decoration: none;
}

button {
  border: 0;
  background: none;
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 400;
}

.iti-flag {
  background-image: url("img/flags.png");
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .iti-flag {
    background-image: url("img/flags@2x.png");
  }
}
#error-msg {
  color: red;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 300;
  width: 100%;
  text-align: center;
  top: 110%;
  position: absolute;
}

#valid-msg {
  color: #31911e;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  position: absolute;
  right: -30px;
}

.hide {
  display: none;
}

.section {
  padding: 100px 0px;
}
.section-title {
  font-size: 35px;
  font-family: "Playfair Display";
  text-align: center;
  text-transform: uppercase;
}
.section__title {
  margin-bottom: 50px;
}

.button {
  border: 1px solid #40403f;
  padding: 20px 80px;
  font-weight: 300;
  font-size: 20px;
  color: #40403f;
  transition: 0.2s ease-in-out;
  background-color: transparent;
}
.button:hover {
  background-color: #40403f;
  color: white;
}

.input {
  border: 1px solid #40403f;
  width: 100%;
  height: 50px;
  padding: 10px 10px;
  font-weight: 300;
  font-size: 20px;
  color: #40403f;
  transition: 0.2s ease-in-out;
  border-radius: 0px;
}
.input-phone {
  width: 100%;
  height: 50px;
  font-family: "Roboto", sans-serif;
}

.error {
  border: 1px solid red;
}

@media (max-width: 660px) {
  .section-title {
    font-size: 25px;
  }
}
@media (max-width: 430px) {
  .input {
    font-size: 16px;
    height: 40px;
  }
}
.header {
  padding: 150px 0;
  background-color: rgba(235, 229, 224, 0.521);
}

.header__wrapper {
  display: flex;
  position: relative;
  justify-content: center;
}

.header__block {
  margin-top: 0px;
  z-index: 10;
}

.header__title {
  color: #40403f;
  font-size: 80px;
  font-family: "Playfair Display";
  line-height: 1.55;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 0.9em;
  opacity: 0.8;
}

.header__text {
  color: #40403f;
  font-size: 21px;
  line-height: 1.55;
  font-weight: 400;
  margin-top: 10px;
}

.header__btn {
  margin-top: 150px;
}

.header__image {
  width: 430px;
  position: relative;
  left: -70px;
}

.header__subimage {
  width: 240px;
  position: absolute;
  top: 400px;
  right: 150px;
}
.header__subimage img {
  position: relative;
  z-index: 1;
}

.header__subimage-white {
  width: 100%;
  height: 100%;
  position: absolute;
  top: -20px;
  left: 20px;
  background-color: white;
  z-index: 0;
}

@media (max-width: 1199px) {
  .header__block {
    z-index: 10;
  }
  .header__title {
    letter-spacing: 1px;
    line-height: 0.9em;
    opacity: 0.8;
  }
  .header__btn {
    font-size: 18px;
    margin-top: 100px;
  }
  .header__text {
    font-size: 21px;
  }
  .header__image {
    width: 400px;
  }
  .header__subimage {
    width: 200px;
    right: 30px;
  }
}
@media (max-width: 991px) {
  .header {
    padding: 150px 0 300px 0;
  }
  .header__block {
    z-index: 10;
  }
  .header__title {
    font-size: 70px;
  }
  .header__btn {
    font-size: 15px;
    margin-top: 70px;
  }
  .header__text {
    font-size: 18px;
  }
  .header__image {
    left: -70px;
    width: 400px;
  }
  .header__subimage {
    width: 170px;
    right: 300px;
  }
}
@media (max-width: 768px) {
  .header {
    height: 900px;
    padding: 50px 0;
  }
  .header__wrapper {
    justify-content: center;
    width: auto;
  }
  .header__block {
    height: 800px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .header__title {
    font-size: 80px;
  }
  .header__text {
    font-size: 21px;
  }
  .header__image {
    width: 300px;
    position: absolute;
    left: 200px;
    top: 200px;
  }
  .header__subimage {
    width: 170px;
    left: 110px;
    top: 480px;
  }
  .header__subimage-white {
    top: -10px;
    left: 10px;
  }
}
@media (max-width: 640px) {
  .header {
    height: 900px;
  }
  .header__image {
    left: 160px;
    top: 200px;
  }
  .header__subimage {
    left: 70px;
    top: 480px;
  }
}
@media (max-width: 570px) {
  .header__image {
    left: 130px;
    top: 200px;
  }
  .header__subimage {
    left: 40px;
    top: 480px;
  }
}
@media (max-width: 530px) {
  .header {
    height: 900px;
    padding-top: 30px;
  }
  .header__image {
    left: 90px;
    top: 200px;
  }
  .header__subimage {
    left: 0px;
    top: 480px;
  }
}
@media (max-width: 480px) {
  .header {
    padding-top: 20px;
  }
  .header__title {
    font-size: 60px;
  }
  .header__block {
    height: 800px;
  }
  .header__text {
    font-size: 16px;
  }
  .header__image {
    left: 60px;
    top: 160px;
  }
  .header__subimage {
    left: 0px;
    top: 480px;
  }
}
@media (max-width: 447px) {
  .header {
    height: 900px;
    padding-top: 20px;
  }
  .header__image {
    left: 40px;
    top: 160px;
  }
  .header__subimage {
    left: 0px;
    top: 490px;
    width: 150px;
  }
  .header__subimage-white {
    top: -10px;
    left: 10px;
  }
}
@media (max-width: 410px) {
  .header {
    height: 780px;
  }
  .header__block {
    height: 700px;
  }
  .header__title {
    font-size: 60px;
  }
  .header__text {
    font-size: 16px;
  }
  .header__btn {
    margin-top: 0px;
  }
  .header__block {
    height: 670px;
  }
  .header__image {
    width: 250px;
    left: 40px;
    top: 180px;
  }
  .header__subimage {
    left: 10px;
    top: 440px;
    width: 100px;
  }
}
.foryou-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.foryou-block__item {
  width: 600px;
  min-height: 130px;
  text-align: center;
  padding: 20px;
  margin-bottom: 30px;
  border-radius: 0px;
  background-color: rgba(235, 229, 224, 0.521);
  color: inherit;
  transition: 0.5s ease-in-out;
}
.foryou-block__item:hover {
  background-color: #d3d3d3;
}
.foryou-block__title {
  font-weight: 300;
  margin-bottom: 10px;
  font-size: 20px;
  font-family: "Playfair Display";
}
.foryou-block__text {
  font-weight: 300;
  font-size: 18px;
}
.foryou__btn {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

@media (max-width: 1300px) {
  .foryou-block {
    justify-content: center;
  }
  .foryou-block__item {
    width: 700px;
  }
}
.results {
  background-color: rgba(235, 229, 224, 0.521);
}
.results-slider-wrap {
  margin: auto;
  max-width: 500px;
  position: relative;
}
.results-slider-arrows {
  position: absolute;
  display: flex;
  justify-content: space-between;
  top: 33%;
  width: 100%;
  transform: translateY(200%);
}
.results-slider__dots {
  margin-top: 10px;
  display: flex !important;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
}
.results-slider__dots li {
  width: 10px;
  height: 10px;
  background-color: #d1d1d1;
  border-radius: 50%;
  margin: 5px;
}
.results-slider__dots li.slick-active {
  background-color: #40403f;
}
.results-slider__dots li button {
  display: none;
}
.results .arrow {
  border: none;
  cursor: pointer;
  width: 10px;
}
.results .arrow:focus {
  outline: none;
}
.results .arrow-left {
  transform: translateX(-150%);
}
.results .arrow-right {
  transform: translateX(150%);
}
.results__text {
  margin-top: 30px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  font-size: 23px;
  padding: 20px 100px;
}

@media (max-width: 1199px) {
  .results__text {
    padding: 0px;
    font-size: 18px;
  }
}
.youfind-block {
  background-color: rgba(235, 229, 224, 0.521);
  padding: 40px 80px;
  display: flex;
  position: relative;
  margin-top: 50px;
}
.youfind-text__title {
  font-size: 35px;
  font-family: "Playfair Display";
  text-transform: uppercase;
  margin-bottom: 30px;
}
.youfind-text__text {
  font-size: 20px;
  letter-spacing: 0.04em;
  font-weight: 300;
  max-width: 65%;
}
.youfind-text__text p {
  margin-bottom: 10px;
}
.youfind-img {
  width: 400px;
  position: absolute;
  right: 50px;
  top: -130px;
}

@media (max-width: 1300px) {
  .youfind-block {
    margin-top: 0;
  }
  .youfind-text__text {
    font-size: 24px;
    max-width: 100%;
  }
  .youfind-img {
    display: none;
  }
  .youfind-btn {
    margin-top: 20px;
  }
  .youfind-btn button {
    font-size: 13px;
    padding: 20px 30px;
  }
}
@media (max-width: 670px) {
  .youfind {
    padding-bottom: 0;
  }
  .youfind-block {
    padding: 30px 40px;
  }
  .youfind-text__title {
    font-size: 28px;
    text-align: center;
  }
  .youfind-text__text {
    font-size: 18px;
    max-width: 100%;
  }
}
.benefits__wrapper {
  display: flex;
  justify-content: space-between;
}
.benefits__image {
  width: 500px;
  position: relative;
  z-index: 1;
}
.benefits__image-background {
  background-color: #d3d3d3;
  width: 100%;
  height: 100%;
  position: absolute;
  left: -20px;
  top: 20px;
  z-index: -1;
}
.benefits__text {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 300;
}
.benefits__text_text {
  line-height: 1.5em;
}
.benefits__text_title {
  font-family: "Playfair Display";
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 10px;
}
.benefits__btn {
  display: flex;
  justify-content: center;
  margin-top: 70px;
}

@media (max-width: 1200px) {
  .benefits__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .benefits__image {
    width: 300px;
    margin: auto;
    margin-bottom: 50px;
  }
  .benefits__image-background {
    left: -10px;
    top: 10px;
  }
  .benefits__text {
    width: 100%;
    display: block;
  }
  .benefits__text_title {
    text-align: left;
  }
  .benefits__text_text {
    margin-bottom: 30px;
  }
}
@media (max-width: 670px) {
  .benefits__text_text {
    font-size: 16px;
  }
  .benefits__btn {
    margin-top: 20px;
  }
  .benefits__btn button {
    font-size: 16px;
  }
}
.services {
  padding-top: 40px;
}
.services__title {
  margin-bottom: 20px;
}
.services__container {
  max-width: 1800px;
  width: 100%;
  padding: 0 30px;
  margin: 0 auto;
}
.services__wrapper {
  display: flex;
  justify-content: center;
  grid-gap: 30px;
  overflow-x: auto;
}
.services__arrow {
  display: none;
  width: 200px;
  font-family: "Playfair Display";
  font-size: 24px;
  padding-bottom: 30px;
  margin: auto;
  -webkit-animation: arrow 2s infinite;
          animation: arrow 2s infinite;
  text-align: center;
}
.services-card {
  padding: 30px;
  background-color: rgba(235, 229, 224, 0.521);
  max-height: 650px;
  width: 380px;
  min-width: 380px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.services-card__header {
  font-family: "Playfair Display";
  font-size: 22px;
  font-weight: 700;
  text-align: center;
  border-bottom: 1px solid black;
}
.services-card__header_about {
  font-size: 18px;
  font-family: "Playfair Display";
  text-align: center;
  margin-top: 5px;
  margin-bottom: 20px;
  position: relative;
  color: #40403f;
}
.services-card__body {
  padding: 20px 0;
  font-family: "Playfair Display";
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.services-card__body_forwhom {
  text-align: center;
  color: #40403f;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  margin: 10px 0 20px 0;
}
.services-card__body_about {
  text-align: center;
  color: #40403f;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  margin-top: 10px;
}
.services-card__footer {
  padding-top: 30px;
  border-top: 1px solid black;
  text-align: center;
  font-family: "Playfair Display";
  font-size: 20px;
}
.services-card__footer_duration {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 17px;
}
.services-card__footer_price {
  font-family: "Roboto";
  font-weight: 300;
  margin-top: 10px;
}
.services-card__footer_btn {
  margin: 0 auto;
  margin-top: 20px;
}
.services-card__footer_btn button {
  font-size: 18px;
  padding: 20px 30px;
}

@-webkit-keyframes arrow {
  0% {
    transform: translateX(0%);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  50% {
    transform: translateX(5%);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    transform: translateX(0%);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
}

@keyframes arrow {
  0% {
    transform: translateX(0%);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  50% {
    transform: translateX(5%);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    transform: translateX(0%);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
}
@media (max-width: 1700px) {
  .services__wrapper {
    justify-content: start;
    flex-wrap: nowrap;
    overflow-x: auto;
  }
  .services__arrow {
    display: block;
  }
}
@media (max-width: 1000px) {
  .services-card {
    width: 320px;
    min-width: 320px;
  }
  .services-card__header {
    font-size: 17px;
  }
  .services-card__body {
    font-size: 13px;
  }
  .services-card__body-forwhom {
    font-size: 14px;
  }
  .services__arrow {
    font-size: 18px;
  }
}
@media (max-width: 450px) {
  .services-card {
    width: 280px;
    min-width: 280px;
    padding: 15px;
  }
  .services-card__header {
    font-size: 18px;
  }
  .services-card__header_about {
    font-size: 13px;
  }
  .services-card__body {
    font-size: 13px;
  }
  .services-card__body-forwhom {
    font-size: 10px;
  }
  .services-card__body-about {
    font-size: 10px;
  }
  .services-card__footer {
    padding-top: 10px;
    font-size: 13px;
  }
  .services-card__footer_price {
    font-size: 16px;
  }
  .services-card__footer_btn button {
    font-size: 14px;
    padding: 20px;
  }
}
.form {
  background-color: rgba(235, 229, 224, 0.521);
  padding-top: 50px;
}
.form__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.form__form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 70px;
  width: 50%;
  border: 1px solid #40403f;
  background-color: white;
}
.form__img {
  width: 400px;
  position: relative;
}
.form__img-background {
  background-color: #d3d3d3;
  width: 100%;
  height: 100%;
  position: absolute;
  left: -20px;
  top: 20px;
  z-index: -1;
}
.form__btn {
  margin-top: 40px;
  background-color: #40403f;
  color: white;
}
.form__btn:hover {
  background-color: #696969;
  color: white;
}

.input__item {
  margin-top: 20px;
}
.input__item:first-child {
  margin-top: 0;
}
.input__item_title {
  font-family: "Playfair Display";
  font-size: 20px;
  margin-bottom: 5px;
}
.input__item-block {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  width: 100%;
  position: relative;
}

.iti {
  width: 100%;
}

@media (max-width: 1420px) {
  .form__wrapper {
    padding: 0 70px;
  }
  .form__img {
    width: 300px;
  }
}
@media (max-width: 1199px) {
  .form__wrapper {
    padding: 0;
  }
  .form__img {
    width: 300px;
  }
}
@media (max-width: 990px) {
  .form__form {
    padding: 40px;
  }
  .form__img {
    width: 250px;
  }
}
@media (max-width: 750px) {
  .form__form {
    padding: 40px;
    width: 100%;
  }
  .form__img {
    width: 250px;
    display: none;
  }
}
@media (max-width: 430px) {
  .form__form {
    padding: 30px;
  }
  .form__btn {
    padding: 15px 50px;
  }
  .input__item_title {
    font-size: 16px;
  }
}
.footer {
  padding: 50px 50px;
  background-color: #40403f;
}
.footer__wrapper {
  display: flex;
  justify-content: center;
}
.footer__block {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.footer__block_title {
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: 10px;
  color: white;
}
.footer__icons a {
  margin-left: 10px;
}
.footer__icons a:first-child {
  margin-left: 0;
}
.footer__icons img {
  width: 30px;
  height: 30px;
}

@media (max-width: 400px) {
  .footer__block {
    font-size: 14px;
  }
}
.faq {
  padding: 50px 0;
}
.faq__tabs {
  margin: auto;
}

.tabs {
  max-width: 800px;
}
.tabs__item {
  overflow: hidden;
  cursor: pointer;
  transition: all 0.8s ease-in-out;
  padding-top: 10px;
  padding-bottom: 10px;
  max-height: 60px;
  border-top: 1px solid #000;
}
.tabs__item:last-child {
  border-bottom: 1px solid #000;
}
.tabs__item_head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Playfair Display";
  margin-bottom: 15px;
}
.tabs__item_question {
  display: flex;
  font-size: 16px;
  font-weight: 500;
}
.tabs__item_num {
  margin-right: 10px;
}
.tabs__item_icon {
  font-size: 30px;
  transition: all 0.5s ease;
}
.tabs__item_icon_active {
  transform: rotate(45deg);
}
.tabs__item_content {
  text-align: left;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  margin-bottom: 10px;
}
.tabs__item_active {
  max-height: 200px;
}

@media (max-width: 500px) {
  .tabs__item_question {
    font-size: 12px;
  }
  .tabs__item_content {
    font-size: 13px;
  }
  .tabs__item_active {
    max-height: 250px;
  }
}
/* @media (max-width: 450px)
 * .tabs
 * &__item
 * max-height: 60px
 * &_question
 *  font-size: 12px */
.popup {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.4980392157);
  width: 100%;
  height: 100%;
  z-index: 20;
  display: none;
}
.popup__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  overflow: hidden;
}
.popup-block {
  height: 120px;
  height-width: 400px;
  background-color: #fff;
  border: 1px solid black;
  padding: 25px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.popup-block__close {
  position: absolute;
  font-size: 16px;
  right: 10px;
  top: 10px;
  cursor: pointer;
}
.popup-block__title {
  text-align: center;
  font-family: "Playfair Display";
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 10px;
}
.popup-block__text {
  height: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 200;
}
.popup__active {
  display: flex;
}/*# sourceMappingURL=style.css.map */