.services
	padding-top: 40px
	&__title
		margin-bottom: 20px
	&__container
		max-width: 1800px
		width: 100%
		padding: 0 30px
		margin: 0 auto
	&__wrapper
		display: flex
		justify-content: center
		grid-gap: 30px 
		overflow-x: auto
	&__arrow
		display: none
		width: 200px
		+sans-serif
		font-size: 24px
		padding-bottom: 30px
		margin: auto
		animation: arrow 2s infinite
		text-align: center
	&-card
		padding: 30px
		// background-color: $yellow
		background-color: #fff6f2
		// width: 25%
		max-height: 650px
		width: 380px
		min-width: 380px
		display: flex 
		flex-direction: column
		justify-content: space-between 
		&__header
			+sans-serif
			font-size: 22px
			font-weight: 700
			text-align: center
			border-bottom: 1px solid black
			&_about
				font-size: 18px
				+sans-serif
				text-align: center
				margin-top: 5px
				margin-bottom: 20px
				position: relative
				color: $grey
		&__body
			padding: 20px 0
			+sans-serif
			font-weight: 500
			display: flex
			flex-direction: column
			align-items: center
			&_forwhom
				text-align: center
				color: $grey
				+roboto
				font-weight: 300
				margin: 10px 0 20px 0
			&_about
				text-align: center
				color: $grey
				+roboto
				font-weight: 300
				margin-top: 10px
		&__footer
			padding-top: 30px
			border-top: 1px solid black
			text-align: center
			+sans-serif
			font-size: 20px
			&_duration
				font-family: 'Roboto'
				font-weight: 300

				font-size: 17px
			&_price
				font-family: 'Roboto'
				font-weight: 300
				margin-top: 10px
			&_btn
				margin: 0 auto
				margin-top: 20px
				button
					font-size: 18px
					padding: 20px 30px
	

@keyframes arrow
	0%
		transform: translateX(-0%)
		animation-timing-function: ease-in
	50%
		transform: translateX(5%)
		animation-timing-function: ease-in
	100%
		transform: translateX(0%)
		animation-timing-function: ease-in

	
@media (max-width: 1280px)
	.services
		&__wrapper
			justify-content: start
			flex-wrap: nowrap
			overflow-x: auto
		&__arrow
			display: block

@media (max-width: 1000px)
	.services
		&-card
			width: 320px
			min-width: 320px
			&__header
				font-size: 17px
			&__body
				font-size: 13px
				&-forwhom
					font-size: 14px
		&__arrow
			font-size: 18px

@media (max-width: 450px)
	.services
		&-card
			width: 280px
			min-width: 280px
			padding: 15px
			&__header
				font-size: 18px
				&_about
					font-size: 13px
			&__body
				font-size: 13px
				&-forwhom
					font-size: 10px
				&-about
					font-size: 10px	
			&__footer
				padding-top: 10px
				font-size: 13px
				&_price
					font-size: 16px
				&_btn
					button
						font-size: 14px
						padding: 20px

				